<div class="card">
  <img *ngIf="post.attachment" class="img-fluid" src="{{post.attachment}}">
  <div class="card-block">
    <h4 class="card-title">{{post.title}}</h4>
    <p class="card-text">{{post.text}}</p>
    <div>
      <span id="likes_{{post.id}}" class="likes">
        <span class="glyphicon glyphicon-thumbs-up" (click)="like()"></span>
        <span class="likes-number">{{post.likes}}</span>
      </span>
      <span class="glyphicon glyphicon-floppy-disk pull-right" (click)="save()"></span>
    </div>
  </div>
</div>
