.title {
	text-align: center;
}

img {
	margin: 50px;
	width: 85%;
}

.about {
	width: 85%;
	margin: 50px;
	text-align: center;
	margin-bottom: 50px;
	font-size: 45px;
	font-family: 'Indie Flower', cursive;
}