<div align="right">
	<button class="btn btn-primary newpost glyphicon glyphicon-plus" data-toggle="collapse" data-target="#newpost"></button>
</div>


<div id="newpost" class="collapse">
  <form [formGroup]="form" (ngSubmit)="newPost($event)">
  	<input type="text" class="form-control" placeholder="Title" formControlName="title">
  	<input type="text" class="form-control" placeholder="Text" formControlName="text">
    <image-upload [url]="'http://soceanic.me/api/upload'"
    (onFileUploadFinish)="imageUploaded($event)">
    </image-upload>
    <button type="submit" class="btn btn-success newpost" [disabled]="form.invalid">Submit</button>
  </form>
</div>
