.top-nav {
	width:100%;
	z-index:1000;
	position:fixed;
	background-color:#e1ded7;
	background-image: url(/assets/black-linen.png);
}

.nav li>a {
	margin-right: 10px;
	color:#ffffff;
	border-spacing:0;
	position:relative;
}