<div class="top-nav"> 
  <ul class="nav justify-content-end">
    <li class="nav-item">
      <a class="nav-link" routerLink="/profile/{{user}}">My Profile</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Friend Requests</a>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
      aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-cog"></span></a>
      <div class="dropdown-menu">
        <a class="dropdown-item" routerLink="/settings">Settings</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" (click)="logout()">Logout</a>
      </div>
    </li>
  </ul>
</div>