@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

body {
	background-size: cover;
	background-color: #e1ded7;
	background-position: center center;
	font-family: 'Catamaran', sans-serif;
	background: url(/assets/fabric-plaid.png);
}

.title, button {
	text-align: center;
}

.container {
	width: 100%;
	height: 100%;
	padding-top: 60px;
	padding-left: 60px;
}

button {
	margin: 15px;
	width: 40rem;
	height: 5rem;
	color:#ffffff;
	padding: 25px;
	border: none !important;
	border-radius: 50px !important;
	background-color:#042335 !important;
	background-image: url(/assets/black-linen.png);
}

button:hover {
	background-image: none;
	background-color: #475963;
}
