.card{
  max-width: 20rem;
  max-height: 40rem;
}

img {
  max-height: 20rem;
}

button {
  max-width: 16rem;
}

.container>.scroll-inf{
  position: absolute;
  height: 100%;
  overflow:scroll;
  overflow-y: hidden;
  /*white-space:nowrap;*/
}
